body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

input, button {
    display: block;
    margin: 20px;
    padding: 8px;
}

#Add a backround color to the body of the page
body {
    background-color: #c9ac4f;
}

