body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

input, button {
    display: block;
    margin: 10px;
    padding: 8px;
}
